langchain
langchain-core
langchain-groq
langchain-community
python-dotenv
streamlit
langgraph
pytest
langgraph-checkpoint-postgres
psycopg2-binary
duckduckgo-search
langchain
langchain-core
langchain-groq
langchain-community
python-dotenv
streamlit
langgraph
pytest
langgraph-checkpoint-postgres
psycopg2-binary
duckduckgo-search
ddgs
fpdf2
fastapi