langchain
langchain-core
langchain-groq
langchain-community
python-dotenv
streamlit
langgraph
pytest
langgraph-checkpoint-postgres
psycopg[binary]
duckduckgo-search
ddgs
fpdf2
fastapi
uvicorn
supabase